body {
    background-color: rgb(4, 12, 31);
    color: #fff;
    margin: 0;
    overflow: hidden;
}

#matrix-rain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(4, 12, 31);
    overflow: hidden;
    z-index: -1;
}

.navbar {
    padding-left: 20px; /* 增大到页面边缘的距离 */
}

.navbar-brand {
    color: rgb(7, 123, 141) !important; /* 修改字体颜色 */
    font-weight: bold;
}

.search-form {
    max-width: 1200px;
    margin: 15vh auto;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.logo-container {
    text-align: center;
    margin-bottom: 6vh;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-control {
    background-color: rgb(13, 22, 39);
    color: #fff;
    height: 6vh;
    width: 50vw;
    max-width: 100%;
    margin: auto; /* 设置左右 margin 为 auto */
    background-image: url('database-search.svg');  /* 引用 database-search.svg */
    background-repeat: no-repeat;  /* 不重复显示图标 */
    background-position: 5px center;  /* 图标位置 */
    padding-left: 40px;  /* 为图标留出空间 */
}

.md-title{
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.md-p {
    font-size: 26px;
    padding: 0;
    margin: 0;
}