.logo {
    /*斜体 consolas*/
    font-weight: 900;
    font-style: italic;
    font-family: consolas, serif;
    font-size: 7vw;
    /*使用视口单位vw（视口宽度）或vh（视口高度）来设置.logo的字体大小，这样字体大小随着页面缩放改变，不溢出容器*/
    z-index: 999;
    margin: auto;
    background: -webkit-linear-gradient(135deg,
        /*红绿蓝渐变        */ #f00,
    #0f0 30%,
    #0ff 45%,
    #00f 60%,
    #f00);
    /* 文字颜色填充设置为透明 */
    -webkit-text-fill-color: transparent;
    /* 背景裁剪，即让文字使用背景色 */
    -webkit-background-clip: text;
    /* 背景图放大一下，看着柔和一些 */
    -webkit-background-size: 200% 100%;
    /* 应用动画flowCss 12秒速度 无限循环 线性匀速动画*/
    -webkit-animation: flowCss 12s infinite linear;

}

@-webkit-keyframes flowCss {
    0% {
        /* 移动背景位置 */
        background-position: 0 0;
    }

    100% {
        background-position: -400% 0;
    }
}